---
layout: handbook-page-toc
title: "Dev Section Engineering Metrics"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

These pages are part of our centralize [Engineering Metrics Dashboards](/handbook/engineering/metrics/)

### Child Pages
* [Create Stage Dashboards](/handbook/engineering/metrics/dev/create)
* [Plan Stage Dashboards](/handbook/engineering/metrics/dev/plan)
* [Manage Stage Dashboards](/handbook/engineering/metrics/dev/manage)

<%= partial "handbook/engineering/metrics/partials/team_dashboard.erb", locals: { filter_type: "sub_department", filter_value: "Dev" } %>

<%= partial "handbook/engineering/metrics/partials/child_dashboard.erb", locals: { filter_type: "stage", filter_value: "Create" } %>

<%= partial "handbook/engineering/metrics/partials/child_dashboard.erb", locals: { filter_type: "stage", filter_value: "Plan" } %>

<%= partial "handbook/engineering/metrics/partials/child_dashboard.erb", locals: { filter_type: "stage", filter_value: "Manage" } %>

<%= partial "handbook/engineering/metrics/partials/child_dashboard.erb", locals: { filter_type: "stage", filter_value: "Ecosystem" } %>
