---
layout: default
title: Monitor
description: "Learn how GitLab helps automatically monitor metrics so you know how any change in code impacts your production environment. View more here!"
canonical_path: "/stages-devops-lifecycle/monitor/"
suppress_header: true
extra_css:
  - release-posts.css
  - features-v2.css
  - product.css
---

= partial "includes/stages/stage-page", locals: { solution: data.stages.stages.monitor, solution_name: "monitor" }
